In [7]:
                                               #STRINGS-
#It can be a character, number, or any symbol quoted with single,double, or triple quotes.
#Usually triple quotes are used to quote a paragraph.
#Strings can't be changed once assigned. New string has to be created in order to include change.
#They have index number starting from 0 'left to right' side and -1 from 'right to left' side.
#Index numbers are useful while slicing the 
#They can be formatted using string formatting functions.
#length function is used to get the length of the string.

#example on *STRING*

#Creating a string
my_inventory='Welcome to the library.'
print(my_inventory)
my_inventory='1000'
my_inventory

Welcome to the library.

'1000'

In [11]:
#indexing

my_inventory='We have a total of 500 books.'
print(my_inventory[:])

#slicing

my_inventory[0:5]

We have a total of 500 books.

'We ha'

In [14]:
#string formatting.

my_book='lost'
#Method 1
my_inventory=f'The name of the book is {my_book}'
print(my_inventory)

#Method 2
my_inventory='I have a total of {} books. '.format(10)
print(my_inventory)

The name of the book is lost
I have a total of 10 books.

In [23]:
# lowercase
print(my_inventory.lower())

#uppercase
print(my_inventory.upper())

i have a total of 10 books.
I HAVE A TOTAL OF 10 BOOKS.

In [40]:
#Split
my_split=my_inventory.split()
print(my_split)

['I', 'have', 'a', 'total', 'of', '10', 'books.']

In [51]:
#join

' '.join(my_split)

'I have a total of 10 books.'

In [53]:
#length
print(my_inventory)
len(my_inventory)

I have a total of 10 books.

28

In [54]:
                                                #LISTS
#List can be a collection of similar or different data types.
#List is separated with commas and enclosed with a square bracket.
#list has index numbers starting from 0 leftside and -1 from rightside.
#Once created a list can be changed/modified.
#Using index number it is possible to access the element.
#Lists are using for, if, while, etc  looping with the help of index number for iterating.
#in-built functions are used to add, remove, update element in a list.

#Example

my_split

['I', 'have', 'a', 'total', 'of', '10', 'books.']

In [55]:
#Index
my_split[0:3]

['I', 'have', 'a']

In [56]:
my_split[:]

['I', 'have', 'a', 'total', 'of', '10', 'books.']

In [60]:
my_split[-1]

'books.'

In [61]:
my_split

['I', 'have', 'a', 'total', 'of', '10', 'books.']

In [62]:
#updating list
my_split[0]= 'you'

In [63]:
my_split

['you', 'have', 'a', 'total', 'of', '10', 'books.']

In [64]:
#to find the length of the list
len(my_split)

7

In [65]:
for i in my_split:
    print(i)

you
have
a
total
of
10
books.

In [69]:
for i in my_split:
    print(my_split[1])

have
have
have
have
have
have
have

In [72]:
if len(my_split)<10:
    print('yolo')

yolo

In [85]:
#Add, remove using funtions

my_list=[123,'joke',666]
my_list.append('hello')
print(my_list)

[123, 'joke', 666, 'hello']

In [86]:
my_list.pop(2)

666

In [91]:
#reverse
print(my_list)    
my_list.reverse()
print(my_list)

[123, 'joke', 'hello']
['hello', 'joke', 123]

In [92]:
#clear removes all the elements from list
my_list.clear()

In [93]:
my_list

[]

In [100]:
                                            #Sorting
#Sorting is used to arrange the list in ascending or decending
#there are two methods 1. using Sorted 2. using Sort

In [109]:
#using sorted gives the output as ascending ordered list. It does make any change to the original list.
my_list=[1,8,6,4,7]
sorted(my_list)

[1, 4, 6, 7, 8]

In [108]:
#using sort makes the changes to the original list but it returns NONE in the output.
my_list

[1, 8, 6, 4, 7]

In [110]:
my_list.sort()

In [111]:
my_list

[1, 4, 6, 7, 8]

In [112]:
                                              #Dictionary
#Dictionary contains information in a key, value pair.
#Dictionary is enclosed using a {} brackets.
#Dictionary can be updated and key, values can be changed in it.
#Value can be obtained by using the key.
#To see the key .key() function is used and for values .values() function is used.
#DEleting key in dictionary deletes value.

In [1]:
#creating dictionary
my_dictionary={'gerrard':'soccer','Nadal':'tennis','Apple':'fruit'}
my_dictionary

{'gerrard': 'soccer', 'Nadal': 'tennis', 'Apple': 'fruit'}

In [114]:
#adding an element
my_dictionary['one']=1

In [115]:
my_dictionary

{'gerrard': 'soccer', 'Nadal': 'tennis', 'Apple': 'fruit', 'one': 1}

In [116]:
#updating
my_dictionary['one']='55'

In [117]:
my_dictionary

{'gerrard': 'soccer', 'Nadal': 'tennis', 'Apple': 'fruit', 'one': '55'}

In [118]:
#obtaining value using key
my_dictionary['gerrard']

'soccer'

In [120]:
#to see the keys and values using function
my_dictionary.keys()

dict_keys(['gerrard', 'Nadal', 'Apple', 'one'])

In [121]:
my_dictionary.values()

dict_values(['soccer', 'tennis', 'fruit', '55'])

In [122]:
#deleting a key:value pair
del my_dictionary['one']

In [2]:
my_dictionary

{'gerrard': 'soccer', 'Nadal': 'tennis', 'Apple': 'fruit'}

References
1. Python.org
2. Realpython.com

In [124]:
#92e79840-4e62-4679-b982-96dbb79c265f